@import '@angular/material/prebuilt-themes/indigo-pink.css';

.mt-20{
    margin-top:20px ;
}
.mt-40{
    margin-top:40px ;
}

.mt-60{
    margin-top:60px ;
}

.full-width{
    width: 100%;
}
.ml-5{
  margin-left:5px ;
}